
  
     
     <%= form_tag sessions_path, method: :post, class: "form-signin" do %>
     <%#= render partial:  'shared/error_block', locals: { obj: @user } %>
     <h3 class="form-signin-heading">Sign-In using username</h3>
       <%= text_field_tag 'user_name','' ,class: "form-control" %>
        <br/>
       <%=submit_tag "Sign In", class: "btn btn-lg btn-primary btn-block" %>
        <br/>
      <%= link_to 'New Sign Up', new_user_path, class: "btn btn-success btn-block" %>
  

     <%end%>
     